/* YourComponent.module.css */

:local {
  --form-container-border-width: 2px;
  --form-container-border-radius: 5px;
  --form-container-padding: 10px;
  --form-container-width: 100%;
  --form-container-bg-light: #95c9f457;
  --form-container-bg-dark: #343541;
  --form-container-border-light: 11px solid indigo;
  --form-container-border-dark: 1px solid #343541;
  --submit-button-hover-bg: red;
}

.formContainer {
  border-width: var(--form-container-border-width) !important;
  border-radius: var(--form-container-border-radius);
  box-shadow: none;
  padding: var(--form-container-padding);
  width: var(--form-container-width);
  background-color: var(--form-container-bg-light);
  border: var(--form-container-border-light);
}

.formContainer.dark {
  background-color: var(--form-container-bg-dark);
  border: var(--form-container-border-dark);
}

.form {
  padding: var(--form-container-padding);
}

.formInput {
  width: 300px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: var(--submit-button-hover-bg);
}

.inputLabels {
  font-weight: 700;
}

.switchAuthLinks {
  align-items: center;
  padding: 10px;
}

.switchAuthLinkAnchor {
  margin-left: 8px;
  text-decoration: underline;
}

.imageContainer {
  border-radius: 50%;
}

.changePasswordButton {
  float: right;
  margin: 10px;
}

.changePasswordLabel {
  float: left;
  margin: 10px;
}
