# Replace placeholders with actual values
# Note: If mysql build in the docker, in server add `db` (or the name of mysql container):
# CONNECTION_STRING="server=db;port=<port_number>;user=<database_username>;password=<database_password>;database=<database_name>""
CONNECTION_STRING="server=<server_name_or_IP>;port=<port_number>;user=<database_username>;password=<database_password>;database=<database_name>"

# Root password for MySQL
MYSQL_ROOT_PASSWORD=<mysql_root_password>
