.theory-container {
  max-width: 800px;
  margin: 0 auto;
}

.selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjustments for Mantine Select */
.control {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 8px; /* Adjust border-radius as needed */
  border: 1px solid #ccc; /* Adjust border color as needed */
  transition: background-color 150ms ease;
  background-color: #f7f7f7; /* Adjust background color as needed */

  &[data-expanded] {
    background-color: #e0e0e0; /* Adjust expanded background color as needed */
  }
}

.label {
  font-weight: 500;
  font-size: 14px; /* Adjust font size as needed */
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);

  [data-expanded] & {
    transform: rotate(180deg);
  }
}
