/* YourComponent.module.css */

:local {
  --root-padding-top: 80px;
  --root-padding-bottom: 80px;
  --title-font-weight: 900;
  --title-font-size: 34px;
  --title-margin-bottom: var(--spacing-md);
  --title-font-family: 'Greycliff CF', 'yourFallbackFont', sans-serif;
  --title-font-size-sm: 32px;
  --control-width-sm: 100%;
  --mobile-image-display: none;
  --desktop-image-display: none;
}

.root {
  padding-top: var(--root-padding-top);
  padding-bottom: var(--root-padding-bottom);
}

.title {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  margin-bottom: var(--title-margin-bottom);
  font-family: var(--title-font-family);

  @media (max-width: 600px) {
    font-size: var(--title-font-size-sm);
  }
}

.control {
  @media (max-width: 600px) {
    width: var(--control-width-sm);
  }
}

.mobileImage {
  @media (min-width: 600px) {
    display: var(--mobile-image-display);
  }
}

.desktopImage {
  @media (max-width: 600px) {
    display: var(--desktop-image-display);
  }
}
